@background:red;
@_height:6px;
@_weigth:8px;
.tips{
    position: absolute;
    color: #000;
    background: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    border: 1px solid @background;
    margin: 8px;
    font-size: 12px;
    box-shadow: 1px 2px 5px rgba(0,0,0,1)
}
.tip-top::before{
    position: absolute;
    box-sizing: border-box;
    transform: translateY(-100%);
    top:0;
    left:2px;
    content: '';
    height: @_height;
    width: @_weigth;
    border-top: @_height solid rgba(0,0,0,0);
    border-bottom: @_height solid @background;
    border-left: @_weigth solid rgba(0,0,0,0);
    border-right: @_weigth solid rgba(0,0,0,0);
}
.tip-bottom::before{
    position: absolute;
    box-sizing: border-box;
    transform: translateY(100%);
    bottom:0;
    left:4px;
    content: '';
    height: @_height;
    width: @_weigth;
    border-top: @_height solid @background;
    border-bottom: @_height solid rgba(0,0,0,0);
    border-left: @_weigth solid rgba(0,0,0,0);
    border-right: @_weigth solid rgba(0,0,0,0);
}
.tip-left::before{
    position: absolute;
    box-sizing: border-box;
    transform: translateX(-100%);
    top:2px;
    left:0;
    content: '';
    height: @_weigth;
    width: @_height;
    border-top: @_weigth solid rgba(0,0,0,0);
    border-bottom: @_weigth solid rgba(0,0,0,0);
    border-left:  @_height solid rgba(0,0,0,0);
    border-right:  @_height solid @background;
}
.tip-right::before{
    position: absolute;
    box-sizing: border-box;
    transform: translateX(100%);
    top:2px;
    right:0;
    content: '';
    height: @_weigth;
    width: @_height;
    border-top: @_weigth solid rgba(0,0,0,0);
    border-bottom: @_weigth solid rgba(0,0,0,0);
    border-left:  @_height solid @background;
    border-right:  @_height solid rgba(0,0,0,0);
}